# Copyright 2025 Vincent Jacques <vincent@vincent-jacques.net>

name: patty-prod-preview

services:
  # Actual prod services
  ######################
  db:
    image: postgres:15
    tmpfs:
      - /var/lib/postgresql/data
    env_file:
      - db/env
    healthcheck:
      test: ["CMD", "pg_isready", "--timeout=0", "--dbname=db", "--username=admin"]
      interval: 0.5s

  # Add a line like this in your crontab to replace the 'db-backup' service below:
  # 10 *   * * *   user  (cd /path/to/compose/env && docker compose exec backend python -m patty backup-database)

  adminer:
    image: adminer:4

  backend:
    image: jacquev6/patty:preview-backend
    pull_policy: never
    volumes:
      - ./backend/classification-models:/classification-models
      - ./backend/images-detection-models:/images-detection-models
      - ./backend/external-exercises:/external-exercises
      - ./backend/pdf-files:/pdf-files
      - ./backend/exercise-images:/exercise-images
      - ./db/backups:/db-backups
    env_file:
      - backend/env
      - backend/secrets.env
    depends_on:
      data-loader:
        condition: service_completed_successfully

  submission-daemon:
    image: jacquev6/patty:preview-backend
    pull_policy: never
    volumes:
      - ./backend/classification-models:/classification-models
      - ./backend/images-detection-models:/images-detection-models
      - ./backend/external-exercises:/external-exercises
      - ./backend/pdf-files:/pdf-files
      - ./backend/exercise-images:/exercise-images
      - ./db/backups:/db-backups
    env_file:
      - backend/env
      - backend/secrets.env
    init: true
    command: ["python", "-m", "patty", "run-submission-daemon"]
    depends_on:
      data-loader:
        condition: service_completed_successfully

  frontend:
    image: jacquev6/patty:preview-frontend
    pull_policy: never
    # environment: [ PATTY_UNAVAILABLE_UNTIL=2025-12-31T23:59:59.999Z ]

  # Preview-only services
  #######################

  data-loader:
    image: jacquev6/patty:preview-backend
    pull_policy: never
    environment:
      - PATTY_USE_JACQUEV6_S3
    env_file:
      - backend/env
      - backend/secrets.env
    command: ["bash", "-c", "if [ $PATTY_USE_JACQUEV6_S3 == true ]; then echo 'Restoring prod DB backup' && python -m patty restore-database --patch-according-to-settings --yes && echo 'Upgrading DB schema' && (cd patty && alembic upgrade head) && echo 'Migrating data' && python -m patty migrate-data; else echo 'Creating DB schema' && (cd patty && alembic upgrade head) && echo 'Inserting seed data' && python -m patty load-fixtures dummy-adaptation dummy-extraction-strategy-v2 dummy-extraction-strategy-v3 && sleep 10; fi"]
    depends_on:
      db:
        condition: service_healthy
  tester:
    build:
      context: ../..
      dockerfile: support/prod/tester/Dockerfile
    image: jacquev6/patty:preview-tester
    pull_policy: never
    volumes:
      - ../../frontend:/app/frontend
    environment:
      - PATTY_USE_JACQUEV6_S3
    working_dir: /app/frontend
    init: true
    command: ["npx", "cypress", "run", "--e2e", "--config", "baseUrl=http://fanout:8090/", "--spec", "e2e-tests/prod-preview.cy.ts"]
    depends_on:
      fanout:
        condition: service_started
  db-backup:
    image: jacquev6/patty:preview-backend
    pull_policy: never
    volumes:
      - ./backend/classification-models:/classification-models
      - ./backend/images-detection-models:/images-detection-models
      - ./backend/external-exercises:/external-exercises
      - ./backend/pdf-files:/pdf-files
      - ./backend/exercise-images:/exercise-images
      - ./db/backups:/db-backups
    env_file:
      - backend/env
      - backend/secrets.env
    init: true
    command: ["bash", "-c", "while true; do python -m patty backup-database; sleep 300; done"]
    depends_on:
      data-loader:
        condition: service_completed_successfully

  fanout:
    image: nginx:latest
    ports:
      - 8090:8090
    volumes:
      - ./fanout/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
      - adminer
