# Copyright 2025 Vincent Jacques <vincent@vincent-jacques.net>

black
graphviz
httpie
joblib
joblib-stubs
mypy
pandas-stubs
pymupdf-stubs
ruff
sqlparse
types-boto3
types-cachetools
types-psycopg2
types-requests
types-sqlalchemy-utils
uvicorn
watchdog[watchmedo]
