alembic
argon2-cffi
boto3
cachetools
compact-json
datasets==3.6.0
fastapi
google-cloud-aiplatform
mistralai
openai
pillow
polyfactory
psycopg2-binary
pydantic_core==2.27.2  # @todo Remove this dependency, without breaking unit tests
pyjwt
requests
scikit-learn
sqlalchemy
sqlalchemy-utils
transformers==4.41.2  # Newer versions fail with "'CamembertModel' object has no attribute 'attn_implementation'"
