alembic
argon2-cffi
boto3
compact-json
datasets
fastapi
mistralai
openai
polyfactory  # @todo Move this dependency to requirements-10-dev.txt
psycopg2-binary
pydantic_core==2.27.2  # @todo Remove this dependency, without breaking unit tests
pyjwt
requests
scikit-learn
sqlalchemy
sqlalchemy-utils
transformers
