# See /backend/patty/settings.py for documentation.

# Required
##########

PATTY_MISTRALAI_API_KEY=
PATTY_OPENAI_API_KEY=
PATTY_GEMINIAI_KEY=

# Optional
##########

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# PATTY_DATABASE_BACKUP_PULSE_MONITORING_URL=
# PATTY_SUBMISSION_DAEMON_PULSE_MONITORING_URL=
# PATTY_SMTP_PASSWORD=
