# MANDATORY
###########

# MistralAI API key from https://console.mistral.ai/api-keys
PATTY_MISTRALAI_API_KEY=
# OpenAI API key from https://platform.openai.com/api-keys
PATTY_OPENAI_API_KEY=
# An API key from https://aistudio.google.com/app/apikey
PATTY_GEMINIAI_KEY=

# OPTIONAL (Omit if not used)
##########

# Key to an AWS IAM user with permissions to write to any S3 bucket used
# Required if an s3:// URL has been configured for DB backups, external exercises, PDFs, etc.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Pulse monitor URLs from https://updown.io/checks
PATTY_DATABASE_BACKUP_PULSE_MONITORING_URL=
PATTY_SUBMISSION_DAEMON_PULSE_MONITORING_URL=

# SMTP password, required if PATTY_MAIL_SENDER and PATTY_SMTP_* are set
# Maybe an 'App password' from https://myaccount.google.com/apppasswords
PATTY_SMTP_PASSWORD=
